@import "AXMPopupWindow.css";
@import "AXMPgTable.css";

html,body {
    height:100%;
    overflow: hidden;
}

body {
    font-size:12px;
    /*font-family: Calibri W01 Regular, Arial, Helvetica, sans-serif;*/
    font-family: Helvetica,Arial,sans-serif
}

.AXMContainer {
    width:100%;
    height:100%;
    overflow: hidden;
}



.AXMEdit {
    border: 1px solid rgb(192,192,192);
    padding-left:2px;
}

.AXMEdit:focus {
    border: 1px solid rgb(0, 64, 149);
    box-shadow: none;
    outline: none;
}

/*************************** Frames  **************************************************/

.AXMFrame, .AXMSplitter {
    /*background-color: rgb(230,230,230); /!* BCK1 *!/*/
}

.AXMSplitter {
    width:20px;
    height:20px;
    position:absolute;
}
.AXMSplitterH {
    cursor:ew-resize;
}
.AXMSplitterV {
    cursor:ns-resize;
}

.AXMFrame {
    position:absolute;
    overflow: hidden;
}

.AXMFrameTitle {
    padding: 4px;
    padding-left:6px;
    height:12px;
    font-weight:bold;
    color: rgb(100,100,100);
    position:absolute;
    background-color: rgb(190,190,190);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: 2px;
}

.AXMFrameClient {
    position:absolute;
    background-color: white;
    overflow: hidden;
}

.AXMFrameFinalClientArea {
    position:absolute;
    background-color: white;
    overflow: hidden;
}

.AXMFrameClientAreaGrey {
    background-color: rgb(230,230,230);
}


.AXMFrameTitle, .AXMFrameTabElementActive {
    background-color: rgb(220,220,220) !important;
    /*background: rgb(200, 200, 200); /!* Old browsers *!/*/
    /*background: -moz-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%); /!* FF3.6+ *!/*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(200, 200, 200)), color-stop(100%, rgb(230, 230, 230))); /!* Chrome,Safari4+ *!/*/
    /*background: -webkit-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%); /!* Chrome10+,Safari5.1+ *!/*/
    /*background: -o-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%); /!* Opera 11.10+ *!/*/
    /*background: -ms-linear-gradient(top, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%); /!* IE10+ *!/*/
    /*background: linear-gradient(to bottom, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%); /!* W3C *!/*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#e6e6e6', GradientType=0); /!* IE6-9 *!/*/
}

/*************************** Frames tabs  **************************************************/

.AXMFrameTabContainer {
    position:absolute;
    border-bottom: 3px solid rgb(220,220,220); /* BCK2 */
}

.AXMFrameTabContainerInner {
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    padding-right:2px;
}

.AXMFrameTabElement {
    font-size: 105%;
    font-weight:bold;
    height:22px;
    padding-top:6px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid rgb(180,180,180);
    border-bottom: none;
    display:inline-block;
    background-color: rgb(245,245,245);
    color: rgb(128, 128, 128);
    overflow: hidden;
    cursor:pointer;
    margin-top:9px;
    margin-right:1px;
    margin-left:5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.15);
    transition:background-color 0.15s linear;

}

.AXMFrameTabElementActive {
    /*position: relative;*/
    /*top: -2px;*/
    /*padding-bottom: 2px;*/
    /*background-color: rgb(210,210,210); *//* BCK2 */
    border: 1px solid rgb(160,160,160);
    border-bottom: none;
    color: rgb(50,50,50);
    box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.25);
}

.AXMFrameTabElement:hover {
    border-color: rgb(58, 143, 152);
}

.AXMFrameTabElementInactive {
}

.AXMFrameTabDisabled, .AXMFrameTabDisabled:hover {
    background-color: rgb(250,250,250) !important;
    color: rgb(190,190,190) !important;
    border-color:rgb(220,220,220) !important;
    box-shadow: none !important;
    cursor: default  !important;
}

/*************************** Button Control  **************************************************/

.AXMButton {
    display: inline-block;
    box-sizing: border-box;
    margin-right:-1px;
    margin-bottom:-1px;

    border: 1px solid rgb(210,210,210);
    width:150px;
    height:30px;
    cursor:pointer;

    color: rgb(86, 86, 86);
    /*background: rgb(255,255,255);*/
    /*background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(230,230,230) 62%, rgb(250,250,250) 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(62%,rgb(230,230,230)), color-stop(100%,rgb(250,250,250)));*/
    /*background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );*/

}


.AXMButton:hover {
    /*background: rgb(255,240,216);*/
    /*background: -moz-linear-gradient(top,  rgb(255,240,216) 0%, rgb(255,225,173) 62%, rgb(249,236,212) 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,240,216)), color-stop(62%,rgb(255,225,173)), color-stop(100%,rgb(249,236,212)));*/
    /*background: -webkit-linear-gradient(top,  rgb(255,240,216) 0%,rgb(255,225,173) 62%,rgb(249,236,212) 100%);*/
    /*background: -o-linear-gradient(top,  rgb(255,240,216) 0%,rgb(255,225,173) 62%,rgb(249,236,212) 100%);*/
    /*background: -ms-linear-gradient(top,  rgb(255,240,216) 0%,rgb(255,225,173) 62%,rgb(249,236,212) 100%);*/
    /*background: linear-gradient(to bottom,  rgb(255,240,216) 0%,rgb(255,225,173) 62%,rgb(249,236,212) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0d8', endColorstr='#f9ecd4',GradientType=0 );*/
}

.AXMButtonIcon {
    color: rgb(41, 139, 163);
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.25);
}

.AXMButton:hover .AXMButtonIcon {
    color: rgb(0, 106, 130);
}




.AXMButtonCommandBar, .AXMButtonInline {
    display: inline-block;
    background-color: transparent;
    color: rgb(137, 137, 137);
    border: none;
    cursor: pointer
}

.AXMButtonInline .AXMButtonIcon {
    opacity: 0.5;
}

.AXMButtonCommandBar:hover, .AXMButtonInline:hover {
    background-color: rgba(255,192,0,0.35);
    color: rgb(50,50,50);
}

/*.AXMButtonInline:hover {*/
    /*background-color: transparent;*/
/*}*/

.AXMButtonInline:hover .AXMButtonIcon {
    opacity: 1;
    background-color: transparent;
}


.AXMButtonChecked {
    background-color: rgba(100, 150, 255, 0.16);
    border-left: 1px solid rgb(168, 187, 204);
    border-top: 1px solid rgb(168, 187, 204);
    border-right: 1px solid rgb(160, 179, 196);
    border-bottom: 1px solid rgb(160, 179, 196);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}




.AXMButtonHelp .AXMButtonIcon {
    display: inline-block;
    background-color: transparent;
    color: rgb(0, 126, 190);
    opacity: 0.6;
    border: none;
    cursor: pointer;
    text-shadow: none;
}

.AXMButtonHelp:hover .AXMButtonIcon {
    /*background-color: rgba(255,192,0,0.35);*/
    opacity: 1;
}


.AXMCommandBar {
    width:100%;
    height:100%;
    color: rgb(113, 113, 113);
    background: rgb(243, 243, 243);
    /*background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(230,230,230) 62%, rgb(250,250,250) 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(62%,rgb(230,230,230)), color-stop(100%,rgb(250,250,250)));*/
    /*background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );*/
}


.AXMFormStandardMargin {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.AXMFormVScroller {
    border: 2px solid rgb(240, 240, 240);
    overflow-y: scroll;
}

.AXMFormSectionHeader {
    height: 33px;
    line-height: 33px;

    padding-left:8px;
    font-weight: bold;

    border-top: 1px solid rgb(220,220,220);
    border-bottom: 1px solid rgb(220,220,220);

    color: rgb(105, 105, 105);
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(230,230,230) 62%, rgb(250,250,250) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(62%,rgb(230,230,230)), color-stop(100%,rgb(250,250,250)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(230,230,230) 62%,rgb(250,250,250) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
}



.reportunit {
    margin-left:40px;
    padding-left:10px;
    border-left:1px solid rgb(220,220,220);
    border-top:1px solid rgb(220,220,220);
    margin-top:10px;
    padding-bottom: 10px;
}

.reportheader {
    cursor: pointer
}

.reportcomment {
    color: rgb(150,150,150)
}

.reporthyperlink {
    cursor: pointer;
    color: rgb(0, 93, 186);
}


.headerSmallText {
    font-size: 85%;
    color: rgb(187, 187, 187)
}

.AXMLogLine {
    /*white-space: nowrap;*/
}

.AXMLogLineNoWrap {
    white-space: nowrap;
}

.AXMLogTimeStamp {
    font-size: 80%;
    color: rgb(167, 167, 167);
    font-weight: normal;
}

.AXMLogElapsedInfo {
    font-size: 80%;
    color: rgb(145, 145, 145);
    font-weight: normal;
    padding-top:7px;
}

.AXMLogWarning {
    color: rgb(186, 93, 1);
    font-weight: bold;
}

.AXMLogError {
    color: rgb(232, 0, 0);
    background-color: rgb(255,255,100);
    font-weight: bold;
}


.AXMToolTip
{
    opacity:0.9;
    padding:4px;
    /*border:1px solid black;*/
    background: #fcef79; /* Old browsers */
    background: -moz-linear-gradient(top, #fcef79 1%, #e87f35 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcef79), color-stop(100%,#e87f35)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcef79 1%,#e87f35 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcef79', endColorstr='#e87f35',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 1px 7px rgba(0,0,0,0.65);
}



.AXMFileDrop {
    box-sizing: border-box;
    padding:9px;
    font-size:13px;
    text-align:center;
    color:#666;
    background-color:#eee;
    border:2px dashed #aaa;
    border-radius:10px;
    width:250px;
    height:100px;
}
.AXMFileDropDragOver {
    background-color: #a2e6ee;
    border:2px dashed #7d7d7d;
}


.AXMBigIcon {
    color: rgb(148, 202, 212);
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.25);
    font-size: 60px
}

.AXMPopupHeaderIcon {
    color: rgb(220, 238, 242);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-size: 44px;
    display: inline-block;
    padding-top:4px;
    padding-right:8px;
    vertical-align: top;
}

.AXMDisabledText {
    color: rgb(150,150,150);
}

.AXMHyperLinkButton {
    cursor: pointer;
    color: rgb(37, 103, 216);
}

.flexTabWrapperFull {
    width: 100%;
    height: 100%;
    background-color: rgb(230,230,230);
    /*border-right: 1px solid rgb(160,160,160);*/
    /*box-sizing: border-box;*/
    /*box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.32);*/
}

.flexTabWrapper {
    width: 100%;
    background-color: rgb(230,230,230);
}

.AXMFlexTab {
    width:100%;
    height: 50px;
    margin-right:-10px;
    position:relative;
    box-sizing: border-box;
    z-index: 0;
    margin-left: 3px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
    transition:background-color 0.25s linear;
}

.AXMFlexTabContent {
    padding-left:5px;
    padding:10px;
    white-space:nowrap;
    vertical-align: top;
}


.AXMFlexTabIcon {
    display:inline-block;
    padding-right:8px;
    vertical-align: top;
    color: rgb(41, 139, 163);
    opacity: 0.45;
}

.AXMFlexTabText {
    display:inline-block;
    vertical-align: top;
}

.AXMFlexTabActive {
    background-color: white;
    color: black;
    /*border-left: 1px solid rgb(220,220,220);*/
    /*border-top: 1px solid rgb(220,220,220);*/
    /*border-bottom: 1px solid rgb(220,220,220);*/
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    z-index: 1;
}

.AXMFlexTabActive .AXMFlexTabIcon {
    opacity: 1;
}

.AXMFlexTabActive .AXMFlexTabText {
    opacity: 1;
}

.AXMFlexTabInactive {
}

.AXMFlexTabInActive:hover {
    background-color: rgb(250,242,235);
}

.AXMFlexTabInActiveHighlight {
    background-color: rgb(255, 228, 145);
    color: rgb(158, 7, 1) !important;
}

.AXMFlexTabCloser, .AXMFlexTabToPopup {
    position:absolute;
    right:5px;
    top:4px;
    cursor:pointer;
    font-size: 20px;
    /*color: rgb(102, 102, 102);*/
    /*visibility: hidden;*/
    opacity:0;
    color: rgb(0, 97, 158);
    transition:opacity 0.5s linear;
}

.AXMFlexTabToPopup {
    right:25px;
}

.AXMFlexTab:hover .AXMFlexTabCloser, .AXMFlexTab:hover .AXMFlexTabToPopup {
    visibility: visible;
    opacity:0.25;
}

span.AXMBadge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10rem;
    font-size: 75%;
    padding: 5px 10px;
    margin: 0px 5px;
  }

textarea.CodeEditor {
    font-family: monospace;
    font-size: 12px;
    resize: none;
    outline: none;
}

.toggle-control input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .toggle-control input:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 82%;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    /* font: 10px/28px;  ??? */
    color: #fff;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all linear 0.1s;
  }
  
  .toggle-control input:checked {
    background-color: #4CD964;
  }
  
  .toggle-control input:checked:before {
    left: 55%;
  }