


.AXMPgTableRight, .AXMPgTableLeft {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    border-width: 0;
    table-layout: fixed;
    outline-width: 0;
}


.AXMPgTableRight {
    width: 0;
    max-width: none;
    max-height: none;
}


.AXMPgTableRight th, .AXMPgTableRight td, .AXMPgTableLeft th, .AXMPgTableLeft td {
    height: 24px;
    empty-cells: show;
    line-height: 23px;
    padding: 0 4px 0 4px;
    vertical-align: top;
    outline-width: 0;

    /*added pv*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


    border-right: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);

    background-color: #FFF;

}


.AXMPgTableRight th, .AXMPgTableLeft th {
    height:30px;
    padding-top: 4px;
    padding-right: 17px;
    text-align:left;
    color: rgb(100,100,100);
}

/************ Set colour for top & left headers ****************/

.AXMPgTableRight th, .AXMPgTableLeft th, .AXMPgTableLeft td {
    background-color: rgb(245,245,245);
    border-right: 1px solid rgb(210,210,210);
    border-bottom: 1px solid rgb(210,210,210);
}




.AXMPgTableRight th {
    position: relative;
}



.AXMPgTableRightColDragger {
    position:absolute;
    right:0px;
    top:0px;
    width:4px;
    height:100%;
    /*background-color: rgb(160,160,160);*/
    background-color: rgba(255,192,0,0.5);
    opacity:0;
    cursor: ew-resize;
}

.AXMPgTableRight th:hover .AXMPgTableRightColDragger {
    opacity:1
}


.AXMPgTableLinkCell, .AXMPgTableSelectorCell {
    display: inline-block;
    width:100%;
    height:100%;
    cursor:pointer;
    text-align:center;
}

.AXMPgTableLinkIcon, .AXMPgTableSelectorIcon, .AXMPgTableSelectorIconActive {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    opacity: 0.5;
}

.AXMPgTableLinkIcon {
    color: rgb(0, 120, 230);
    font-size: 16px;
}

.AXMPgTableSelectorIcon {
    color: rgb(140, 140, 140);
}

.AXMPgTableSelectorIconActive {
    color: rgb(255, 50, 0);
}

/*.AXMPgTableLinkCell:hover {*/
    /*background-color: rgb(255,192,120);*/
/*}*/

.AXMPgTableLinkCell:hover .AXMPgTableLinkIcon {
    opacity: 1;
}

.AXMPgTableRight tr:hover {
    outline: 1px solid rgb(186, 186, 186);
    outline-offset: 0px;
}


.AXMPgTableHightlightRow td {
    background-color: rgb(224, 245, 255);
    /*border-bottom: 1px solid rgb(255,0,0);*/
    text-shadow: 0px 0px 1px rgba(50, 50, 50, 0.5);
}

.AXMPgTableColSortBox {
    position:absolute;
    right:5px;
    bottom:0px;
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.AXMPgTableColSortBoxActive {
    color: rgb(0, 64, 149) !important;
}

.AXMPgTableColOpenBox {
    position:absolute;
    right:5px;
    top:1px;
    color: rgb(0, 125, 151);
    opacity: 0.35;
    cursor: pointer;
}

.AXMPgTableRight th:hover .AXMPgTableColOpenBox {
    opacity: 1;
}


.AXMTableLeftGradient {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.AXMTableRightGradient {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1); /* IE6-9 */
}


.AXMCrossTable {
    border-collapse: collapse;

    /*border-collapse: separate;*/
    /*border-spacing: 0;*/
    /*border-color: rgb(180,180,180);*/
    /*margin: 0;*/
    /*border-width: 1;*/
    /*table-layout: fixed;*/
    /*outline-width: 0;*/
}

.AXMCrossTable, .AXMCrossTable th, .AXMCrossTable td {
    border: 1px solid rgb(205,205,205);
    padding: 0px;
}

.AXMCrossTable th {
    background-color: rgb(230,230,230);
    padding:8px;
}

.AXMCrossTable td {
    cursor: pointer;
}
.AXMCrossTableCell, .AXMCrossTableCell th, .AXMCrossTableCell td {
    background-color: transparent;
    border: none;
    padding: 0px;
    text-align: left;
}

.AXMCrossTableCell th {
    padding:0px;
    font-weight: normal;
    color: rgb(120,120,120);
}

.AXMCrossTableCell td {
    font-weight: normal;
}

.AXMCrossTableSmall {
    font-size: 75%;
    font-weight: normal;
    color: rgb(140,140,140);
    text-align: left;
    padding-bottom: 2px;
}

.AXMCrossTableLarge {
    font-size: 120%;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}


.AXMPanelListItem {
    padding: 7px;
    cursor: pointer;
}

.AXMPanelListItemSelected {
    background-color: rgb(178, 227, 237);
}