/* body::before { 
    content: "This is a development version of axiom.";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffe7e8;
    border-width: 20px;
    border-image: repeating-linear-gradient(-45deg,#e66465 0,#e66465 10px,#f6b73c 10px,#f6b73c 20px,#e66465 20px) 20 20 repeat;
    font-weight: bolder;
    color: crimson;
    padding: 0.5rem;
    margin: 0.5rem;
} */