# -*- mode: gitignore; -*-

#Ignore LaTeX intermediate files
*.aux
*.out
*.synctex.gz
*.synctex.gz(busy)
*.toc

# Development
node_modules/
dist/
demo/
yarn.lock
package-lock.json

# VS Code
.vscode

# JetBrains IDE files
.idea

# Translations
*.mo
*.pot

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# DS store
.DS_Store

# tex
*.fdb_latexmk
_region_.tex
*.fls

# master_data archive folders
.archive
